/* ----------------------------- */
/* HEADER */
/* ----------------------------- */

.mic-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/Mic/IMG_3097.jpg);
}

.comm-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/orchestra2.jpg);
}

.stock-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Stockimg.jpg);
}

/* ----------------------------- */
/* MIC */
/* ----------------------------- */

.mic-text-box {
    font-size: 60%;
    margin-top: 31%;
    margin-left: 12%;
    margin-right: 20%;
    text-align: left;
} 

.section-mic-purpose p, 
.section-mic-materials p,
.section-mic-build p,
.section-mic-calib p {text-align: justify;}

.section-mic-materials,
.section-mic-calib {background-color: #f2f2f2;}

.mic-showcase {
    list-style: none;
    width: 100%; 
    text-align: center;
}

.mic-showcase li {
    display: inline-block;
    width: 50%;    
}

figcaption {
    font-size: 90%;
    background-color: #f2f2f2;
    margin-top: 1.2%;
}

.section-mic-samples audio {
    display: inline-block;
    margin: 0 auto;
}

/* MIC Queries */
@media only screen and (max-width: 768px) {.mic-text-box {margin-left: 20%; margin-top: 40%;}}

@media only screen and (max-width: 456px) {
.mic-text-box {
    font-size: 50%; 
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 80%;
}}

@media only screen and (max-height: 530px) {.mic-quote {display:none;}}

/* ----------------------------- */
/* COMM SERV */
/* ----------------------------- */

.comm-text-box {
    font-size: 45%;
    margin-top: 36%;
    margin-left: 33%;
    margin-right: 7%;
    text-align: right;
}


.comm-photos-showcase {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.comm-photos-showcase li {width: 33%;}
.comm-photos-showcase li a {
    border: none; 
    padding: 0px;
}

@media (max-width: 533px) {.comm-photos-showcase li {width: 50%;}} 

.comm-video-showcase {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    list-style: none;
}

.comm-video-showcase li a {
    width: 20%; 
    height: auto;
    text-align: center;
    margin-bottom: 1%;
    border: none;
    opacity: 0.8;
    transition: opacity 0.25s;
    padding: 0px;
}

.comm-video-showcase li a:hover,
.comm-video-showcase li a:active {opacity: 1;}

.NextGenChamb1f {display: none;}

@media (max-width: 825px) {.comm-video-showcase a {width: 25%;}} 
@media (max-width: 665px) {.comm-video-showcase a {width: 33%;}} 
@media (max-width: 530px) {.comm-video-showcase a {width: 50%;}} 

.section-impact-vids {
    background: linear-gradient(rgba(219, 219, 219, 0.9), rgba(219, 219, 219, 0.9)), url(../img/music-background.jpg);
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

/* COMMSERV Queries */

@media only screen and (max-width: 500px) {
    .comm-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.20)), url(../img/italyorchestra.jpg); 
    background-size: cover;
    background-position: center;
    }}

@media only screen and (max-width: 533px) {
    .NextGenChamb1f {display: block;}
    .NextGenChamb1 {display: none;}
    }

/* ----------------------------- */
/* STOCKS */
/* ----------------------------- */

.stocks-text-box  {
    margin-top: 20vh;
    margin-left: 7.5%;
}

.section-features .long-copy {margin-bottom: 40px; text-align: center;}

.section-top-stocks {background-color: #f2f2f2;}

.section-top-stocks .ratings-table {
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

.section-repertoire .ratings-table {
    width: 95%;
    text-align: center;
    margin-left: 2.5%;
}

.section-top-stocks .ratings-table th,
.section-repertoire .ratings-table th {
    max-width: 50px;
    height: 50px;
    background-color: #1dd1a1;
    color: #555;
    border: 1px solid #8e8e8e;
}

.section-top-stocks .ratings-table td,
.section-repertoire .ratings-table td {
    max-width: 30px;
    height: 50px;
    border: 1px solid #8e8e8e;
}

.section-top-stocks .ratings-table th {background-color: #1dd1a1;}
.section-repertoire .ratings-table th {background-color: rgb(237, 232, 208);}
.section-top-stocks .ratings-table td {background-color: rgba(29, 209, 161, 0.19);}
.section-repertoire .ratings-table td {background-color: rgba(253, 251, 241, 0.52); padding: 0 10px;}

/* STOCKS Queries*/
@media only screen and (max-width: 470px) {
    .stocks-text-box {
        margin-left: 5%;
        top: 50%;
        font-size: 125%;
        margin-right: 5%; 
}}

@media only screen and (max-width: 470px), only screen and (max-height: 430px) {
    .btn.btn-full, .btn.btn-ghost {display: none;}
}