
/* Big tablet and smaller computers: from 1024 to 1200 px */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row {padding: 0 2%;}
}

/* Small tablet to big tablet: from 768 to (933) 1023 px */
@media only screen and (max-width: 1023px) {
    body {font-size: 18px;}
    section {padding: 60px 0;}
    }
    
@media only screen and (max-width: 933px) {
    body {font-size: 17px;}
    section {padding: 60px 0;}
    .long-copy {width: 80%; margin-left: 10%;}
    .icon-small {width: 17px; margin-right: 5px;}
    }


/* Small phone to small tablet: from 481 to 767 px */
@media only screen and (max-width: 905px) {
    body {font-size: 16px;}
    section {padding: 30px 0;}
    
    .row {width: 90%; padding: 0 4%;}
    .col {width: 100%; margin: 0 0 4% 0;}
    
    nav {padding: 10px 50px; transition: 0.6s;}
    nav ul li {display: none;} /* hide menu bar */
    
    .mobile-nav-icon {display: inline-block; margin-right: 10px;}

    .mobile-SW-name {
        font-family: 'Raleway', sans-serif;
        display: table;
        margin: 20px auto;
        font-size: 120%;
    } 

    .SW-name {display: none;}
    
    .menu-open {
        padding: 10px 50px 100% 50px; 
        background-color: rgb(255, 255, 255, 0.95); 
        transition: 0.6s;}
    
    .menu-open li {
        display: block;
        margin-right: 200px;
    }
    
    .menu-open li a:link,
    .menu-open li a:visited {
        display: block;
        border: 0;
        position: center;
        padding: 8px 0;
        font-size: 100%;
    }
    
    .sticky .mobile-SW-name {font-size: 0%;}
    .menu-open .mobile-SW-name {font-size: 120%; transition: 0.6s;}
    .sticky .mobile-nav-icon {margin-top: 0px;}
    .sticky .mobile-nav-icon i {color: #555; padding: 0px;}
    
    .long-copy {width: 100%; margin-left: 0%;  }
    h1 {font-size: 180%;}
    h2 {font-size: 150%; margin-top: 5%;}
}
    
/* ABOUT Queries */
@media only screen and (max-width: 550px) {
    .abt-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.20)), url(../img/Piano-portrait2.jpg); 
    background-size: cover;
    background-position: center;
    }}

/* PIANO Queries */
@media only screen and (min-width: 1060px) {.section-repertoire .repertoire-table td {font-size: 18px;}}
@media only screen and (min-width: 400px) {.section-repertoire .repertoire-table td {font-size: 16px;}}
@media only screen and (min-width: 300px) {.section-repertoire .repertoire-table td {font-size: 14px;}}

/* Responsive Youtube iframe */
@media only screen and (max-width: 670px) {
    .wrap-element {
        position: relative; 
        overflow: hidden; 
        padding-top: 56.25%;
        margin-bottom: 30px;
    }
    
    .wrapped-iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;}
    }

@media only screen and (min-width: 671px) {.wrapped-iframe {height: 315px; width: 560px;}}

/* PHOTOS Queries */
@media only screen and (max-height: 380px) {.photo-quote {display:none;}}

/* FORM */
@media only screen and (min-width: 320px) {
    .form-box {font-size: 133%;}
    .contact-form {width: 100%;}
    input[type=text],
    input[type=email],
    textarea {line-height: 200%}
}
    
@media only screen and (min-width: 500px), only screen and (min-height: 600px) {
    .form-box {font-size: 170%;}}
    
@media only screen and (min-width: 768px) {
    .form-box {font-size: 200%;}
    .contact-form {width: 80%;}
    textarea {height: 150px;}
    .form .span-1-of-3 {width: 20%;}
}

@media only screen and (max-height: 587px) {
    .form-box {margin-top: 0%; margin-bottom: 0%;}
    .form-box p {display: none;}
    .form-box:after {height: 0px;}
}