/* ----------------------------- */
/* SETUP */
/* ----------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fcfcfc;
    color: #484848;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;   
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------- */
/* REUSEABLE COMPONENTS */
/* ----------------------------- */

.row {max-width: 1140px; margin: 0 auto;}
section {padding: 70px 0;}
.box {padding: 1%;}

/* --- HEADINGS --- */

h1, h2, h3, h4 {font-weight: 300; text-transform: capitalize;}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    font-size: 250%;
    word-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    color: #555;
}

h4 {
    font-size: 220%;
    word-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}


h2:after, 
h4:after {
    display: block;
    height: 2px;
    background-color: #1dd1a1;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

iframe {display: block; margin: 0 auto; border: 0;}


/* --- PARAGRAPHS --- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;    
}

.right-copy {text-align: right;}

.box p {font-size: 90%; line-height: 145%;}

/* --- ICONS --- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #1dd1a1;
    margin-bottom: 10px
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #1dd1a1;
    font-size: 120%;
    line-height: 120%;
    margin-right: 10px;
}

/* --- LINKS --- */

a:link, a:visited {
    color: #1dd1a1;
    text-decoration: none;
    padding-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover, a:active {
    color: #484848;
    border-bottom: 0px solid transparent;
}

/* --- BUTTONS --- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; /* remove underline */
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s; /* simple button animations */
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #1dd1a1;
    border: 1px solid #1dd1a1;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #1dd1a1;
    color: #1dd1a1;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #1ea27f;  
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #1ea27f;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #1ea27f;
    color: #fff;
}

/* ----------------------------- */
/* HEADER */
/* ----------------------------- */

header {
    padding: 130px;
    margin: 0 auto;
    background-position: 0px auto;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-clip: content-box;
    height: 100vh; 
}

.abt-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/Piano-seated-edit.jpg); 
}

.piano-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/Piano-seated-edit.jpg);
}

.photo-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/photo-background-min2.jpg);
}

.contact-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/contact-gradient.png);
}

.abt-bg, .piano-bg, .photo-bg, .contact-bg {background-size: cover;}

.photo-gen-box li {
    list-style: none;
    display: inline-block;
    font-size: 120%;
    color: #fff;
    margin-left: 15.5%;
    margin-right: 12%;
}

/* Main nav */

nav {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    background-color:rgb(255, 255, 255, 0.95);
    padding: 10px 50px;
    box-shadow: 0 2px 2px #efefef;
    z-index: 100;
}

.SW-name {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin: 20px 20px 0px 20px;
    padding: 0px;
    border-bottom: 0px solid transparent;
    transition: font-size 0.6s;
}

.mobile-SW-name {display: none;}

nav li {display: inline-block; margin-left: 50px;}
nav li a:link,
nav li a:visited {
    padding: 2px 0;
    color: #333;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

nav li a:hover,
nav li a:active {border-bottom: 2px solid #1dd1a1;}

nav li a.current,
nav li a:link.current,
nav li a:visited.current {border-bottom: 2px solid #1dd1a1;}

.main-nav li a.current2 {color: #1dd1a1;}

/* Mobile nav */
.mobile-nav-icon {
    float: right;
    margin-top: 0px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon:hover {border-bottom: 0px solid transparent;}

.mobile-nav-icon i {font-size: 200%; color: #333;}

/* Sticky navi */
.sticky {
    background-color: rgb(255, 255, 255);
    padding: 0px 50px;
    box-shadow: 0 2px 2px #efefef;
    transition: 0.6s;
}

.sticky .SW-name {font-size: 50%; transition: 0.6s;}

.sticky .dropdown-content a:link,
.sticky .dropdown-content a:visited {padding-bottom: 2px;}

.sticky .main-nav .dropdown-content a.current2 {color: rgb(255, 255, 255);}

/* ----------------------------- */
/* ABOUT */
/* ----------------------------- */

.section-bio {background-color: rgb(248, 245, 242);}
.section-bio p {text-align: justify;}

.section-repertoire {background-color: rgba(205, 202, 198, 0.59);}
.section-repertoire .repertoire-table {width: 100%; margin-left: 5%;}
.section-repertoire .repertoire-table th {
    height: 50px;
    width: 10%;
    background-color: none;
    color: #555;
    border: 1px solid #8e8e8e;
}

.section-repertoire .repertoire-table td {
    width: 10%;
    height: 40px;
    border: 1px solid #8e8e8e;
}

/* ----------------------------- */
/* PIANO */
/* ----------------------------- */

.piano-text-box {
    font-size: 55%;
    margin-top: 31%;
    margin-left: 10%;
    margin-right: 20%;
    text-align: left;
}

.piano-quote, .photo-quote {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.piano-quote:first-letter,
.photo-quote:first-letter {text-transform: uppercase;}

.section-piano-vids {
    background: linear-gradient(rgba(219, 219, 219, 0.9), rgba(219, 219, 219, 0.9)), url(../img/music-background.jpg);
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-piano-vids p {text-align: center;}

.section-repertoire .repertoire-table {
    width: 50%;
    text-align: left;
    margin: 0 auto;
}

.section-repertoire .repertoire-table th {
    height: 50px;
    color: #555;
    border: 0px solid transparent;
}

.section-repertoire .ratings-table {
    width: 95%;
    text-align: center;
    margin-left: 2.5%;
}

.section-repertoire .ratings-table th {
    max-width: 50px;
    height: 50px;
    background-color: #1dd1a1;
    color: rgb(87, 79, 79);
    border: 1px solid #8e8e8e;
}

.section-repertoire .ratings-table td {
    max-width: 30px;
    height: 50px;
    border: 1px solid #8e8e8e;
}

.section-repertoire .ratings-table th {background-color: rgb(237, 232, 208);}

.section-repertoire .ratings-table td {background-color: rgba(253, 251, 241, 0.52); padding: 0 10px;}

/* ----------------------------- */
/* PHOTOS */
/* ----------------------------- */

.photos-showcase {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.photos-showcase li {width: 50%;}
.photos-showcase li a {
    border: none; 
    width: 100%;
    margin: 0;
    overflow: hidden;
    opacity: 1; 
    transition: opacity 1s;
}

.section-fall {background-color: rgb(255, 250, 242);}

.my-photo:hover {opacity: 0.75; text-decoration: none;}
.my-photo img {width: 100%; height: auto;}

/* ----------------------------- */
/* FORM */
/* ----------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
    color: #fff;
}

.form-box  {
    color: #fff;
    font-weight: 300;
    font-size: 235%;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    text-transform: capitalize;
}

.form-box:after {
    display: block;
    height: 2px;
    background-color: #1dd1a1;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    line-height: 150%;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #555;
    padding: 0 7px;
}

textarea {height: 100px;}
*: focus {outline: none}

/* ----------------------------- */
/* FOOTER */
/* ----------------------------- */

footer {background-color: #333; padding: 50px; font-size: 80%; }
footer p {color: #888; text-align: center; margin-top: 30px; }

/* ----------------------------- */
/* ANIMATIONS */
/* ----------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {-webkit-animation-duration: 1s; animation-duration: 1s;}

.js--wp-1.animated,
.js--wp-2.animated, 
.js--wp-3.animated {opacity: 1;}